.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #bcbcbc;
  display: inline-block;
}
.baseHolder {
  padding-left: 20px;
}
.adminBase {
  width: auto;
  background: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #ebecec;
  margin: 10px 40px;
}
.disputeComment {
  margin: 10px;
  width: 350px;
  height: 70px;
  border-radius: 5px;
  resize: none;
}
.text {
  margin: 0px 16px 0px 0px;
  padding-bottom: 10px;
  color: #7f7f7f;
  font-family: semibold;
  font-size: 18px;
  white-space: nowrap;
  line-height: 22px;
  display: inline-block;
  cursor: pointer;
}

.seletedText {
  composes: text;
  color: #1a1a1a;
  margin: 0px 16px 0px 0px;
  padding-bottom: 10px;
  border-bottom: 3px solid #5dbcb3;
}
.header {
  display: flex;
  margin-left: 10px;
}
.disputeButton {
  margin: 10px;
}
.disputeMessage {
  margin: 75px;
}
.headHolder {
  display: flex;
}
.head {
  padding: 10px 10px;
  width: 150px;
  height: 75px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* overflow-wrap: normal; */
  display: flex;
  word-break: break-word;
  align-items: center;
  justify-content: center;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.button {
  width: 100px;
}
