.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
}
.fieldContainer {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
  text-align: left;
  width: 500px;
  margin: auto;
}
.formInput {
  width: 100%;
  color: #fff;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 500;
  margin: 8px 0;
  background-color: #377c83;
  display: inline-block;
  outline: none;
  border: 1px solid #377c83;
  border-radius: 10px;
  box-sizing: border-box;
}
.formInput::placeholder {
  color: #fff;
  list-style: height 20em;
  opacity: 1; /* Firefox */
}
.formContainer {
  width: 100%;
}
.formHeader {
  text-align: center;
  font-weight: 900;
  color: #fff;
}
.addHolder {
  overflow: auto;
}
.formButton {
  width: 100%;
  background-color: #fff;
  color: #459345;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.error {
  color: #ff6347;
  padding-top: 10px;
}
.baseHolder {
  padding-left: 20px;
}
.headHolder {
  display: flex;
  height: 50px;
  border-top: 1px solid darkgrey;
  cursor: pointer;
  /* border-bottom: 1px solid; */
}
.headHolder:hover {
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
}
.head {
  padding: 10px 10px;
  width: 130px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  display: flex;
  /* word-break: break-word; */
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.manualHead {
  composes: head;
  min-width: 150px;
}
