.deepDiveBase {
  width: 100%;
}
.timeSlots {
  display: flex;
  align-items: center;
}
.imgContainer {
  display: flex;
}
.dataContainer {
  display: flex;
  padding: 10px 100px;
}
.dayHolder {
  width: 60px;
  padding: 10px 100px;
}
.dayContainer {
  display: flex;
}
.minuteHolder {
  display: flex;
}
.minuteContainer {
  padding: 10px;
}
