.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #bcbcbc;
}
.deepdiveContainer {
  /* float: left; */
  display: flex;
  /* padding: 15px; */
  /* width: 100%; */
  /* padding-left: 40px; */
}
.dropdownText {
  font-size: 14px;
}
.dropdownContainer {
  display: flex;
  padding: 15px;
}
.timecardContainer {
  margin-left: auto;
  padding: 15px;
}
.dateContainer {
  margin: auto;
}
.dropdownSelectHolder {
  /* padding: 10px; */
}
