.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #bcbcbc;
}
.deepdiveContainer {
  float: left;
  display: flex;
  padding: 15px;
  padding-left: 40px;
}
.dropdownText {
  font-size: 14px;
}
.dropdownSelectHolder {
  /* padding: 10px; */
}
