.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #bcbcbc;
  display: inline-block;
}
.deepdiveContainer {
  /* float: left; */
  display: flex;
  /* padding: 15px; */
  /* width: 100%; */
  /* padding-left: 40px; */
}
.dropdownText {
  font-size: 14px;
}
.datePicker {
  background: white;
  padding: 2px;
  border-radius: 5px;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdownContainer {
  display: flex;
  padding: 15px;
  margin-left: 30px;
}
.timecardContainer {
  margin-left: auto;
  padding: 15px;
  display: flex;
}
.dateContainer {
  margin: auto;
  display: flex;
  background: white;
  padding: 0 10px;
  border-radius: 5px;
}
.dropdownSelectHolder {
  /* padding: 10px; */
}
.lastWeek {
  padding: 0 10px;
  cursor: pointer;
}
.thisWeek {
  padding: 0 10px;
  cursor: pointer;
}
.timeCard {
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
}
.details {
  margin: 0 10px;
  cursor: pointer;
}
.prev {
  margin-right: 5px;
  cursor: pointer;
  margin-top: 2px;
}
.next {
  margin-left: 5px;
  cursor: pointer;
  margin-top: 2px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
