.deepDiveBase {
  width: 100%;
}
.timeSlots {
  display: flex;
  align-items: center;
}
.imgContainer {
  display: flex;
}
.dataContainer {
  display: flex;
  padding: 10px 100px;
}
.dayHolder {
  width: 100%;
  padding: 10px 0px;
}
.dayContainer {
  display: flex;
}
.minuteHolder {
  display: flex;
}
.minuteContainer {
  padding: 10px;
}
.weekContainer {
  display: flex;
  padding: 10px 120px;
}
.dayText {
}
.hourText {
  padding: 0 10px;
}
.popup-content {
  width: 100%;
}
.popup-wrapper > * {
  width: 50%;
}
