.offlineStatus {
  position: absolute;
  top: -5px;
  left: 0px;
  height: 10px;
  width: 10px;
  background-color: #cecece;
  border-radius: 100%;
}
.offlineStatusright {
  position: absolute;
  top: -5px;
  right: 0;
  height: 10px;
  width: 10px;
  background-color: #cecece;
  border-radius: 100%;
}
.offlineStatusman {
  composes: offlineStatusright;
  top: 20px;
  right: -15px;
}
.onlineStatus {
  position: absolute;
  top: -5px;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #8bc646;
  border-radius: 100%;
}
.onlineStatusright {
  position: absolute;
  top: -5px;
  right: 0;
  height: 10px;
  width: 10px;
  background-color: #8bc646;
  border-radius: 100%;
}
.onlineStatusman {
  composes: onlineStatusright;
  top: 20px;
  right: -15px;
}
.passiveStatus {
  position: absolute;
  top: -5px;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #efc165;
  border-radius: 100%;
}
.passiveStatusright {
  position: absolute;
  top: -5px;
  right: 0;
  height: 10px;
  width: 10px;
  background-color: #efc165;
  border-radius: 100%;
}
.passiveStatusman {
  composes: passiveStatusright;
  top: 20px;
  right: -15px;
}
