.base{
    width: 100%;
}
.countryContainer{
    display: flex;
}
.countryHolder{
    margin-left: 80px;
    display: inline-block;
}
.seatHolder{
    display: flex;
    justify-content: center;
    align-items: center;

}
