.base {
    width: 100%;
}

.countryContainer {
    display: flex;
    position: absolute;
}

.countryHolder {
    margin-left: 80px;
    min-width: 200px;
    display: inline-block;
}

.seatHolder {
    display: inline-block;
    justify-content: center;
    align-items: center;
margin-right: 10px;
cursor: pointer;
position: relative;
}
.seatHolder .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 125%; */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .seatHolder .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .seatHolder:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.counryUsers:last-child{
    padding-right: calc(100% - 110px);
}
.usersContainer{
    display: flex;
}
.break{
    content: "";
    display: block;
    margin-bottom: -4px;
}
.Holder{
    display: flex;

}
.summaryBase{
    border:1px solid #000;
    height:125px;
    margin-top: 15px;
}
.summaryHeader{
    height: 30px;
    background-color: #ffe4c4;
}
.summaryContainer{
    padding: 10px;
}
.valCont{
    display: flex;
}
@media only screen and (min-width: 1236px) {
    .onlineleft {
        background: url("../images/onlineleft.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 120px;
        width: 60px;
        display: inline-block;
    }

    .onlineright {
        background: url("../images/online.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 120px;
        width: 60px;

        display: inline-block;
    }

    .offlineleft {
        background: url("../images/offlineleft.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 120px;
        width: 60px;

        display: inline-block;
    }

    .offlineright {
        background: url("../images/offlinepc.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 120px;
        width: 60px;
        display: inline-block;
    }

    .abc {
        height: 70px;
        width: 53px;
        margin-bottom: 15%;
    }

}

@media only screen and (max-width: 1235px) and (min-width: 1152px) {
    .onlineleft {
        background: url("../images/onlineleft.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 110px;
        width: 50px;
        display: inline-block;
    }

    .onlineright {
        background: url("../images/online.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 110px;
        width: 50px;
        display: inline-block;
    }

    .offlineleft {
        background: url("../images/offlineleft.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 110px;
        width: 50px;
        display: inline-block;
    }

    .offlineright {
        background: url("../images/offlinepc.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 110px;
        width: 50px;
        display: inline-block;
    }

    .abc {
        height: 50px;
        width: 47px;
        margin-bottom: 15%;
    }


}

@media only screen and (max-width: 1151px) {
    .onlineleft {
        background: url("../images/onlineleft.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 100px;
        width: 40px;
        display: inline-block;
    }

    .onlineright {
        background: url("../images/online.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 100px;
        width: 40px;
        display: inline-block;
    }

    .offlineleft {
        background: url("../images/offlineleft.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 100px;
        width: 40px;
        display: inline-block;
    }

    .offlineright {
        background: url("../images/offlinepc.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        height: 100px;
        width: 40px;
        display: inline-block;
    }

    .abc {
        height: 45px;
        width: 40px;
        margin-bottom: 15%;
    }
}


.pp-left {
    height: 30px;
    vertical-align: top;
    position: absolute;
    margin-left: 19px;
    margin-top: 7px;
}

.pp-right {
    height: 30px;
    vertical-align: top;
    position: absolute;
    margin-left: -49px;
    margin-top: 8px;

}